body {
    font-size: 14px;
    font-family: "Droid Sans","Droid Sans Fallback","Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    background-color: #f1f1f1;
}

#swiper1 img {
    display: block;
    width: 100%;
}

/* header-search */

.header-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: rgba(0,0,0, .05);
    /*background-color: #ccc;*/
    z-index: 998;

}

.header-search .search-city {
    display: inline-block;
    width: 1.24rem;
    color: #fff;
    background: url("../images/arrow.png") no-repeat .9rem;
    background-size: 12px;
    text-align: center;
    padding-right: .2rem;
    box-sizing: border-box;
}

/* search-word */
.header-search .search-word {
    width: 4.36rem;
    border: none;
    border-radius: 25px;
    padding: 7px 0 6px 25px;
    font-size: 13px;
    color: #666;
    background: url("../images/search.png") no-repeat 8px #fff;
    background-size: 13px;
    opacity: .86;
    box-sizing: border-box;
    -webkit-transition: width  .2s ease-in;
    -moz-transition: width  .2s ease-in;
    -ms-transition: width  .2s ease-in;
    -o-transition: width  .2s ease-in;
    transition: width  .2s ease-in;
}

.header-search .search-icon {
    display: inline-block;
    position: relative;
    top: 4px;
    width: .6rem;
    height: 18px;
    background: url("../images/searchIcon.png") no-repeat center;
    background-size: 16px 18px;
}

.header-fixed {
    background-color: rgba(255,57,87,.7);
}


.header-search .search-change {
    width: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 30px;
}

/* goodsList */
#swiper2 {
    padding: 15px 0;
    background-color: #fff;
}
#swiper2 ul li {
    overflow: hidden;
    margin-bottom: 20px;
}
#swiper2 ul li a {
    float: left;
    width: 1.28rem;
    color: #303030;
    font-size: 13px;
    text-align: center;
}
#swiper2 ul li a img {
    display: inline-block;
    width: .8rem;
    height: .8rem;
}

/* 限时抢购 */
.flash-sale {
    margin: 10px 0;
    background-color: #fff;
    overflow: hidden;
}
.flash-sale>div{
    width: 50%;
    float: left;
}

/* 特惠 */
.flash-preferential {
    padding: 0 10px 0 14px;
    box-sizing: border-box;
}
.flash-preferential a {
    display: block;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
}
.flash-preferential a:nth-child(1) {
    border-bottom: 1px solid #f1f1f1;
}
.flash-preferential .preferentialTop {
    padding-top: 7px;
   background: url("../images/special.jpg") no-repeat right center;
    background-size: 70px 70px;
}


.flash-preferential .preferentialTop h3, .flash-preferential .preferentialNext h3 {
    font-size: 16px;
    line-height: 20px;
    color: #4ca4fe;
    font-weight: 400;
}

.flash-preferential .preferentialTop h4, .flash-preferential .preferentialNext h4 {
    margin-top: 5px;
    color: #666;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}
.flash-preferential .preferentialTop div,
.flash-preferential .preferentialNext div{
    display: inline-block;
    font-size: 12px;
    color: #4ca4fe;
    border: 1px solid #4ca4fe;
    border-radius: 3px;
    padding: 0 3px;
    margin-top: 7px;
}

/*  一元夺宝 */

.flash-preferential .preferentialNext {
    padding-top: 7px;
    background: url("../images/duobao.jpg") no-repeat right center;
    background-size: 70px 70px;
}

.flash-preferential .preferentialNext h3 {
    color: #f90;
}
.flash-preferential .preferentialNext div{
    color: #f90;
    border: 1px solid #f90;
}

/* 金百万 */

.flash-sale .million-gold {
    position: relative;
    background: url("../images/jinbai.jpg") no-repeat center;
    height: 150px;
    background-size: 90px auto;
}

.million-gold .million-header {
    width: 100%;
    height: 27px;
    background: url("../images/countTime.png") no-repeat center;
    background-size: 100%;
}
.million-gold .million-header{
    box-sizing: border-box;
    padding: 3px 10px 0 0;
     text-align: right;

}
.million-gold .million-header span {
    position: relative;
    font-size: 12px;
    background-color: #d14200;
    color: #fff;
    border-radius: 2px;
    padding: 1px;
}
.million-gold .million-header span:nth-child(1):after,
.million-gold .million-header span:nth-child(2):after {
    content: ':';
    position: absolute;
    top: 0;
}

.million-gold a {
    display: block;
    width: 100%;
    height: 100%;
}
.million-gold  .million-tile {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 33px;
    margin: auto;
    color: #333;
    font-size: 16px;
    font-weight: 400;
}
.million-gold .million-price {
     position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    font-size: 16px;
    color: #ff793b;
}